<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../assets/icons/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../../css/components/footer.css" />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

  </head>
  <body>
    <footer class="footer">
      <div class="footer__top container">
        <!-- Cột 1 -->
        <div class="footer__col">
          <h3>CÔNG TY CỔ PHẦN DỊCH VỤ GIAO HÀNG NHANH</h3>
          <p>
            Công ty giao nhận đầu tiên tại Việt Nam được thành lập với sứ mệnh
            phục vụ nhu cầu vận chuyển chuyên nghiệp của các đối tác Thương mại
            điện tử trên toàn quốc.<br /><br />
            Giấy CNĐKDN số 0311990725 do Sở KH&ĐT TP HCM cấp lần đầu ngày
            02/08/2012, cấp thay đổi lần thứ 21 ngày 12/02/2025.<br />
            Giấy phép bưu chính số 310/GP-BTTTT do Bộ Thông tin và Truyền thông
            cấp ngày 19/11/2014, cấp điều chỉnh lần thứ 2: 09/08/2019, gia hạn
            theo giấy phép bưu chính số 84/GP-BTTTT cấp ngày 26/02/2025.
          </p>
          <div class="footer__info">
            <p>
              <i class="fa-solid fa-location-dot"></i>
              <b>Trụ sở chính:</b> Tòa nhà FPT Polytechnic,Cổng số 2, 13 Trịnh
              Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
            </p>
            <p>
              <i class="fa-solid fa-envelope"></i> <b>Email:</b> abc@gmail.com
            </p>
            <p><i class="fa-solid fa-phone"></i> <b>Hotline:</b> 1234567890</p>
          </div>
        </div>

        <!-- Cột 2 -->
        <div class="footer__col">
          <h4>VỀ GHN</h4>
          <ul>
            <li><a href="#">Giới thiệu GHN</a></li>
            <li><a href="#">Hệ thống bưu cục</a></li>
            <li><a href="#">Công nghệ</a></li>
            <li><a href="#">GHN Xu</a></li>
            <li><a href="#">Cơ hội việc làm</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div>

        <!-- Cột 3 -->
        <div class="footer__col">
          <h4>THÔNG TIN DỊCH VỤ</h4>
          <ul>
            <li><a href="#">Bảng giá</a></li>
            <li><a href="#">Dịch vụ giao hàng</a></li>
            <li><a href="#">Quy trình gửi hàng</a></li>
            <li><a href="#">Khai báo giá trị hàng hóa</a></li>
            <li><a href="#">Hàng hóa không vận chuyển</a></li>
            <li><a href="#">Câu hỏi thường gặp</a></li>
          </ul>
        </div>

        <!-- Cột 4 -->
        <div class="footer__col">
          <h4>THÔNG TIN</h4>
          <ul>
            <li><a href="#">Chính sách bồi thường</a></li>
            <li><a href="#">Quy định về khiếu nại</a></li>
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Tin tức GHN</a></li>
            <li><a href="#">Khuyến mãi</a></li>
            <li><a href="#">Kiến thức giao hàng</a></li>
            <li><a href="#">Tip bán hàng</a></li>
            <li><a href="#">Chiến binh GHN</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>
      </div>

      <!-- Footer bottom -->
      <div class="footer__bottom container">
        <div class="footer__app">
          <p>TRẢI NGHIỆM TỐT HƠN VỚI APP LUXMOVE</p>
          <div class="footer__app-links">
            <img src="../../assets/icons/appstore.png" alt="App Store" />
            <img src="../../assets/icons/googleplay.png" alt="Google Play" />
          </div>
        </div>

<div class="footer__social">
  <p>KẾT NỐI VỚI LUXMOVE</p>
  <div class="footer__icons">
    <a href="#" class="social-icon fb" title="Facebook LUXMOVE">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="#" class="social-icon ig" title="Instagram LUXMOVE">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#" class="social-icon yt" title="YouTube LUXMOVE">
      <i class="fa-brands fa-youtube"></i>
    </a>
    <a href="#" class="social-icon in" title="LinkedIn LUXMOVE">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
  </div>
</div>


        <div class="footer__branch">
          <p>HỆ THỐNG BƯU CỤC LUXMOVE</p>
          <button class="btn-orange">TÌM ĐỊA CHỈ GẦN BẠN</button>
        </div>
      </div>
    </footer>
  </body>
</html>
