<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../css/components/header.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <header id="header">
      <div class="header-logo">
        <img src="../icons/icon/lux.jpg" alt="LuxMove Logo" />
      </div>
      <nav class="header-nav">
        <ul>
          <li>
            <a href="index.html">
              <img
                src="../icons/icon/house.svg"
                alt="Home icon"
                class="nav-icon"
              />
              Home
            </a>
          </li>
          <li>
            <a href="setting.html">
              <img
                src="../icons/icon/gear-six.svg"
                alt="Setting icon"
                class="nav-icon"
              />
              Setting
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="../icons/icon/user.svg"
                alt="Profile icon"
                class="nav-icon"
              />
              Profile
            </a>
          </li>
          <li>
            <a href="register.html">
              <img
                src="../icons/icon/sign-out.svg"
                alt="Register icon"
                class="nav-icon"
              />
              Register
            </a>
          </li>
        </ul>
      </nav>
    </h>
  </body>
</html>
